<div class="chart">
  <script id="infogram_0_bfb00c2e-ae61-4274-9183-267be3407d29" title="" src="//e.infogr.am/js/embed.js?idr" type="text/javascript"></script><div style="padding:8px 0;font-family:Arial!important;font-size:13px!important;line-height:15px!important;text-align:center;border-top:1px solid #dadada;margin:0 30px"><br><a style="color:#989898!important;text-decoration:none!important;" href="http://charts.infogr.am/column-chart?utm_source=embed_bottom&utm_medium=seo&utm_campaign=column_chart" target="_blank">Create column charts</a></div>
</div><!-- /.chart -->
<div class="caption">
  <p>This is where we'll explain the chart above in detail and give special instructions about how to interact with it.</p>
</div><!-- caption -->
